body {
  background-color: #132815;
}

.gobsmacked {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  margin-top: -20px;
}

.enter {
  display: flex;
  justify-content: center;
}

.welcome {
  color: #06be00;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.email {
  display: flex;
  justify-content: left;
  color: #06be00;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  display: flex;
  justify-content: left;
  color: #06be00;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gob-boys {
  display: flex;
  justify-content: left;
  color: #06be00;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: 0;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #06be00;
}

.menu {
  display: none; 
}

  .menu.active {
      display: block; 
      color:#0bcd04;
  }
